  <section class="focus" id="profile"> <!--Profile SECTION   -->
    <div class="container">
      <div class="section-header"><!-- SECTION HEADER -->
        <h2 class="dark-text">Profile Information</h2><!-- SECTION TITLE -->
        <h6>
          A small description "About me".
        </h6>
      </div><!-- / END SECTION HEADER -->
      
      <div class="row"><!--My profile Information -->
        <!-- FIRST BOX -->
        <div class="col-lg-4 col-sm-6 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="team-member">
            <figure class="profile-pic"> 
              <img src="/assets/Shubham.jpg" alt="shubham"> <!-- MEMBER PROFILE PIC -->
            </figure>
            <div class="member-details">
              <h5 class="dark-text red-border-bottom">Shubham kedia</h5>
              <div class="position">Software Developer</div>
            </div>
            <div class="social-icons">
              <ul>
                <li><a href="https://www.facebook.com/shubham.kedia94138"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/shubhamkedia92"><i class="icon-twitter-alt"></i></a></li>
                <li><a href="https://github.com/shubham-kedia/"><i class="icon-github"></i></a></li>
                <li><a href="http://in.linkedin.com/in/shubhamkedia"><i class="icon-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="details">
              <p>
                Hello this is shubham. Intrested in coding great apps and want to be part of something bigger.
              </p>
            </div>
          </div>
        </div><!-- / END OF FIRST FOCUS BOX. -->


        <div class="col-lg-8 col-sm-12 focus-box green wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="service-icon">
            <span class="pixeden pd-icon-camera"></span>
          </div>
          <h5 class="green-border-bottom">Web Development</h5>
          <p>
            Love to design hardcore frontend with backend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore
          </p>
        </div><!-- / END OF DESCRIPTION BOX. -->
      </div>
      <!-- / END My profile Information -->

      <!-- OTHER FOCUSES -->
      <div class="other-focuses">
        <h5><span class="section-footer-title">ALSO i FOCUS ON</span></h5>
      </div>

      <!-- OTHER FOCUS LIST -->
      <div class="other-focus-list wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <ul>
         <li><i class="icon-fontawesome-webfont-8"></i>WEB APPLICATIONS</li>
         <li><i class="icon-fontawesome-webfont-267"></i>SEARCH ENGINE OPTIMIZATION</li>
         <li><i class="icon-fontawesome-webfont-75"></i>Search Technologies</li>
         <li><i class="icon-fontawesome-webfont-358"></i>Project Management</li>
         <li><i class="icon-fontawesome-webfont-102"></i>IOS APP</li>
         <li><i class="icon-fontawesome-webfont-328"></i>ANDROID APP</li>
         <li><i class="icon-fontawesome-webfont-195"></i>WINDOWS APP</li>
         <li><i class="icon-fontawesome-webfont-297"></i>UX STRATEGY</li>
       </ul>
     </div> <!-- / END OTHER FOCUS LIST -->
   </div> <!-- / END CONTAINER -->
 </section>  <!-- / END FOCUS SECTION -->

 <section class="stats">
  <div class="container">
    <div class="row">
      <!-- empty div to create space -->
    </div>
  </div> <!-- / END CONTAINER -->
</section> <!-- / END NEWSLETTER SECTION -->

<section class="features" id="expenses">
  <div class="container">

    <div class="section-header"><!-- SECTION HEADER -->
      <h2 class="dark-text">Daily Expenses</h2><!-- SECTION TITLE -->
      <h6><!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        We design &amp; develop qaulity products to help small &amp; medium level business.
      </h6>
    </div>
    <!-- / END SECTION HEADER -->

    <!-- FEATURS -->
    <div class="row">

      <!-- FEATURES COLUMN LEFT -->
      <div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="create padding">

          </div>
          <div id="barchart1">

          </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="input-group date input-append" id="datetimepicker1">
            <input data-format="dd/MM/yyyy" type="text" class="form-control">
            <span class="input-group-addon">
              <i class="fa fa-calendar" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
          <div id="multilinechart">

          </div>
        </div>
      </div>
    </div> <!-- / END FEATURES -->
  </div> <!-- / END CONTAINER -->
</section> <!-- / END FEATURES SECTION -->

<section class="stats">
  <div class="container">
    <div class="row">
      <!-- empty div to create space -->
    </div>
  </div>
</section> 

<section class="focus" id="expensepercat">
  <div class="container">

    <!-- SECTION HEADER -->
    <div class="section-header">

      <!-- SECTION TITLE -->
      <h2 class="dark-text">Expenses Per Category</h2>

      <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
      <h6>
        A small description about the Expenses per Category.
      </h6>
    </div>
    <!-- / END SECTION HEADER -->

    <!--My profile Information -->
    <div class="row">

      <!-- FIRST FOCUS BOXES -->
      <div class="col-lg-6 col-sm-6 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <div id="barchart2">

        </div>

      </div>
      <!-- / END FIRST FOCUS BOX. Other boxes has same format -->

      <div class="col-lg-6 col-sm-6 focus-box green wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <div id="mypie" class="">

        </div>
      </div>


    </div>
  </div>
</section>
<!-- / END My profile Information -->
<!-- =========================
   CONTACT US         
   ============================== -->

   <section class="contact-us" id="contact">
    <div class="container">

      <!-- SECTION HEADER -->
      <div class="section-header">

        <!-- SECTION TITLE -->
        <h2 class="white-text">Get in touch</h2>

        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
          Have any question? Drop us a message. We will get back to you in 24 hours.
        </h6>
      </div>
      <!-- / END SECTION HEADER -->

      <!-- CONTACT FORM-->
      <div class="row">
        <form role="form" action="index.html#" class="contact-form">
          <div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="col-lg-4 col-sm-4">
              <input type="text" name="name" placeholder="Your Name" class="form-control input-box">
            </div>
            <div class="col-lg-4 col-sm-4">
              <input type="email" name="email" placeholder="Your Email" class="form-control input-box">
            </div>
            <div class="col-lg-4 col-sm-4">
              <input type="text" name="subject" placeholder="Subject" class="form-control input-box">
            </div>
          </div>

          <div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <textarea name="message" class="form-control textarea-box" placeholder="Your Message"></textarea>
          </div>
          <button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">Send Message</button>
        </form>
      </div>
      <!-- / END CONTACT FORM-->
    </div> <!-- / END CONTAINER -->
  </section> <!-- / END CONTACT US SECTION-->

<!-- =========================
   FOOTER             
   ============================== -->

   