    <header id="top" class="header navbar-fixed-top">  
    <div class="container">            
      <h1 class="logo pull-left">
        <a class="scrollto" href="index.html#carousel1">
        <img id="logo-image" class="logo-image" src="/assets/logo.jpg" alt="Logo">
          <span class="logo-title">PROJECT NAME</span>
        </a>
      </h1><!--logo-->              
      <nav id="main-nav" class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <!-- For inline forms or navigations, we hide the labels using the .sr-only class. -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><!--nav-toggle-->
        </div><!--navbar-header-->            
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active nav-item sr-only"><a class="scrollto" href="index.html#carousel1">Home</a></li>
            <li class="nav-item"><a class="scrollto" href="index.html#profile">Profile</a></li>
            <li class="nav-item"><a class="scrollto" href="index.html#daily">Daily Expenses</a></li>
            <li class="nav-item last"><a class="scrollto" href="index.html#category">Expenses Per Category</a></li>
          </ul><!--nav-->
        </div><!--navabr-collapse-->
      </nav><!--main-nav-->           
    </div>
  </header>
  <!-- section for the caraousel starts here -->
  <section id="carousel1" class="promo section offset-header has-pattern">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="carousel">
            <div class="slides"> <!-- BEGIN CAROUSEL -->

              <div> <!-- SLIDE ITEM -->
                <a href="index.html#">
                <img src="/assets/slide-1.jpg" />
                </a>            
              </div>
              <div>
                <a href="index.html#">
                <img src="/assets/slide-2.jpg" />
                </a>
              </div>
              <div>
                <a href="index.html#">
                <img src="/assets/slide-3.jpg" />
                </a>
              </div>

              <div>
                <a href="index.html#">
                <img src="/assets/slide-4.jpg" />
                </a>
              </div>

              <div>
                <a href="index.html#">
                <img src="/assets/slide-5.jpg" />
                </a>
              </div>

              <div>
                <a href="index.html#">
                <img src="/assets/slide-6.jpg" />
                </a>
              </div>

              <div>            
              <img src="/assets/slide-7.jpg" />
              </div>
              <!--  -->
            </div> <!-- END SLIDES -->
          </div>
          <!-- END CARAOUSEL -->

        </div>
      </div>
    </div>
  </section>
  <!-- section for the caraousel ends here -->

  <!-- section for the profile info starts here -->
  <section id="profile" class="promo section  has-pattern">
    <div class="container common">
      <div class="h2-lines"></div>
      <div class="row">
        <div class="col-lg-12 col-sm-6 col-md-8">
          <h2 class="title-header">Profile Information</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-xs-12 col-md-6">
        <img src="/assets/Shubham.jpg" class="img-responsive img-holder" alt="Responsive image">
        </div>
        <div class="col-lg-8 col-xs-12  col-sm-6">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">Objective</a></li>
            <li><a href="#experience" data-toggle="tab">Experience</a></li>
            <li><a href="#projects" data-toggle="tab">Projects</a></li>
            <li><a href="#awards" data-toggle="tab">Awards</a></li>
            <li><a href="#skills" data-toggle="tab">Skills</a></li>

          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <ul>
                <li class="content1">
                  To continuously keep experimenting and trying new things to enhance my capabilities and knowledge so as to become a competent and efficient engineer so as to withstand any challenging situation.
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="experience">
              <ul>
                <li class="content">
                  Technical Internship at <b>Codingmart Technologies</b> from December 2014 to current as a Web Developer with both backend and frontend experience.
                </li>
                <li class="content">
                  Technical Internship in <b>Wegilant Net Solutions Pvt.</b> Limited(An IITB Alumni Company) for duration of about 7 weeks during May-July 2012 on Android App development(Quake Alerter).
                </li>
                <li class="content">
                  Technical Internship in <b>DRDO Jodhpur</b> for duration of 6 weeks during June-July 2013 on Web Content management System.
                </li>
                <li class="content">
                  Lead Technical Coordinator in <b>ANDROID CLUB</b> for VIT Chennai from May 2011 to August 2013
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="projects">
              <ul>
                <li class="content">
                  <b><a href="http://www.mandinko.com">Mandinko.com</a></b> - Developed on full stack Ruby on Rails platform having an embedded Solr Search for fast and easy searching across lakhs of data reside in the database.
                </li>
                <li class="content">
                  <b><a href="http://www.manislist.com/">Manislist.com</a></b> - Developed with agile software method in Rails to create an next generation classified listing app for the user.
                </li>
                <li class="content">
                  <b><a href="http://www.fundsinn.com">Fundsinn.com</a></b> - A ruby on rails based website for fundsinn.com . The wesite is for mutual funds, taxfree bonds and other products. To be launched in April-2014.
                </li>
                <li class="content">
                  <b><a href="http://www.proendoftenancycleaning.co.uk/">Wordpress.org</a></b> - Worked on various wordpress platforms for building up a custom theme by customizing its full backend structure and features provided by the wordpress. Also worked for its SEO for fast indexing with Google search. Currently online :link1 , link2 , link3
                </li>
                <li class="content">
                  <b><a href="">papablogger.org</a></b> - (A SEO blog, Web Marketing) - made an SEO optimized blog which reach its peak in Alexa ranking. During making of this project I learned various concepts like internet marketing, SEO, SMM web marketing etc. It helps also helps to build a basic knowledge of basic blog templates and web marketing which gets its attention very soon.
                </li>
                
              </ul>
            </div>
            <div class="tab-pane" id="awards">
              <ul>
                <li class="content">
                  Got 77 percentile in the NITAT aptitude test out of 90000 students who take the exam. (In Top 23%)
                </li>
                <li class="content">
                  Got 1st position in technical event organized by a CodeYgen club “Tornado”.
                </li>
                <li class="content">
                  Got a 3rd prize in Technical workshop on Android App Development organized by isec system (IID Alumni) for developing an App.
                </li>
                <li class="content">
                  Got selected for Regional Math's Olympiad(2009) at district level.
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="skills">
              <ul>
                <li class="content">
                  <b>Programming Languages </b>: C, C++, Java(Android, Basic Java), PHP, CSS, HTML , JavaScript
                </li>
                <li class="content">
                  <b>Frameworks </b>: Ruby On Rails(Ruby), Bootstraps(CSS),Laravel-Basics(PHP)
                </li>
                <li class="content">
                  <b>Operating System </b>: Android, Xubuntu ,Ubuntu, Fedora, Mint, Backtrack , WindowsXp,7,8
                </li>
                <li class="content">
                  <b>Databases </b>: IbmDB2, oracle , sqlite
                </li>
                <li class="content">
                  <b>APIs </b>: EBay API for fine affiliates Program.
                </li>
                <li class="content">
                  <b>Search Technologies </b>: Solr Search, Sunspot Solr(for Ruby), Sphinx Search
                </li>
                <li class="content">
                  <b>Tools and Technologies </b>: Eclipse , RFT , Rational Rose, Keil , Visual Basic 2010, Visual Basic 2012 (Windows 8 metro apps) , Performance Tester(IBM) , XAAMP ,WAMP
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- greeking -->
      </div>
    </div>
  </section>
  <!-- section for the profile info ends here -->

  <!-- section for the daily expensese starts -->
  <section id="daily" class="promo section  has-pattern">
    <div class="container">
      <div class="h2-lines"></div>
      <div class="row">
        <div class="col-lg-12 col-sm-8 col-md-6 col-xs-12">
          <h2 class="title-header">Daily Expenses</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
          <div class="create padding">

          </div>
          <div id="barchart1">

          </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
          <div class="input-group date input-append" id="datetimepicker1">
            <input data-format="dd/MM/yyyy" type="text" class="form-control">
            <span class="input-group-addon">
              <i class="fa fa-calendar" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
          <div id="multilinechart">

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section for the daily expensese ends here -->

  <!-- section for the expensese per category starts -->
  <section id="category" class="promo section  has-pattern">
    <div class="container">
      <div class="h2-lines"></div>
      <div class="row">
        <div class="col-xs-12 ">
          <h2 class="title-header">Expenses Per Category</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
          <div id="barchart2">

          </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
          <div id="mypie" class=""></div>
        </div>
        <!-- piechart here -->
      </div>
    </div>
  </section>
  <!-- section for the expensese per category -->
<footer class="footer">
    <div class="container">
      <small class="copyright pull-left">Copyright &copy; 2014 Project name</small>
      <ul class="links list-inline">
        <li><a href="index.html#">Terms</a></li>
        <li><a href="index.html#">Privacy</a></li>
      </ul>
    </div>
  </footer>
<script>
  jQuery(document).ready(function($) {

  /* ======= Scrollspy ======= */
  $('body').scrollspy({ target: '#carousel', offset: 400});
  
  /* ======= ScrollTo ======= */
  $('a.scrollto').on('click', function(e){

        //store hash
        var target = this.hash;
        
        e.preventDefault();
        
        $('body').scrollTo(target, 800, {offset: -80}, {easing:'easeOutQuad'});

        //Collapse mobile menu after clicking
        if ($('.navbar-collapse').hasClass('in')){
         $('.navbar-collapse').removeClass('in').addClass('collapse');
       }

     });
  $(function () {
    $('#myTab a:first').tab('show')
  });
  function renderCarousel(){
    var widths =$(document).width();
    var front=400;
    if (widths>992) {
      widths = 910;
      // front-= 40;
      $(".carousel").css("width", widths);
    }else if (widths<=992 && width>=767) {
      widths= 740;
      front-= 60;
      $(".carousel").css("width", widths);
    }else if (widths<767) {
      widths =$(document).width()-20;
      front-= 80;
      $(".carousel").css("width", widths);
    };
    $('.carousel').carousel(
      {carouselWidth:widths,carouselHeight:300,directionNav:false,shadow:true,buttonNav:'bullets',frontWidth:front,frontHeight:300
    });
  }
  renderCarousel();
  $( window ).resize(function() {
    // $("#mypie").empty();
    renderCarousel();
  });
  $(function() {
    $('#datetimepicker1').datetimepicker({
      pickTime: false
        // format: 'dd/MM/yyyy '
      });
  });
});

  
</script>
<style>
  /*common css*/
body {
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  background :#F3F3F3;
  margin-top :70px;
}
a {
  color: #56bc94;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #3fa07a;
}
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  border-color: #56bc94;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.offset-header {
  padding-top: 90px;
}
/*header css finishes here*/
/* Header */
.header {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  max-height: 50px;
}
.header h1.logo a {
  color: #444444;
}
.header h1.logo a img {
  margin-right: 5px;
  max-height: 50px;
}
.header h1.logo .logo-title {
  vertical-align: middle;
}
.header .main-nav button {
  background: #225742;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 10px;
}
.header .main-nav .nav .nav-item.active a {
  color: #56bc94;
  background: none;
}
.header .main-nav .nav .nav-item a {
  color: #444444;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header .main-nav .nav .nav-item a:hover {
  color: #56bc94;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #56bc94;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
/* Footer css starts here */
.footer {
  background: #444444;
  color: #fff;
  margin-top: 25px;
  padding: 15px 0;
}
.footer .copyright {
  color: #b3b3b3;
  margin-right: 15px;
}
.footer .links {
  margin-bottom: 0;
}
.footer .links a {
  color: #808080;
}
.footer .links a:hover {
  color: #56bc94;
}
/*footer ends here*/
/*general css*/
.h2-lines{
  margin-top: 10px;
  background-color:black;
  padding-bottom: 3px;
  width: 100%;
}
.title-header{
  text-align: center;
  padding-bottom: 5px;
}
.img-holder{
  /*max-height: 300px;*/
}
.add-on{
  display: inline-block;
  border: 1px solid grey;
  border-radius: 0px 4px 4px 0px
}
.input-append{
  width: 46%;
  right: 20px;
}
.create.padding{
  padding-top:50px;
}
.tab-pane .content,.content1{
  padding-top: 15px;
}
.content1{
  line-height: 30px;
}
.nav-tabs li{
  width: 20%;
  text-align: center;
}
/*chart and graphs css*/

/*media queries */
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .container{
    /*width: 700px;*/
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container{
    /*width: 740px;*/
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*.container{
    width: 940px;
  }*/
}
  
</style>