.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.slice text {
  font-size: 16pt;
  font-family: Arial;
}
#barchart1,#barchart2{
  margin-left: -45px;
  margin-top: 20px;
}
#barchart2{
  margin-top: 40px;
}
#multilinechart{
  margin-left: 30px;
}
#mypie{
  margin-top: 40px;
  margin-left: 30px;
}
/*jasmine test cases css*/
.html-reporter{
  background-color: white;
}
.login,.login-info{
  color:white;
}
.login-info{
  font-size:22px;
}
#signin,#signup {
  width: 30%;
}

@media (min-width: 992px) and (max-width: 1024px) {
  #signin,#signup {
    width: 30%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {

  #signin,#signup{
    width: 30%;
  }
}
@media (max-width: 1024px) {
  #signin,#signup{
    width: 40%;
  }
}
@media (max-width: 767px) {
  #signin,#signup{
    width: 60%;
  }
}
@media (max-width: 480px) {
  #signin,#signup{
    width: 70%;
  }
}
@media (max-width: 320px) {
  #signin,#signup{
    width: 100%;
  }
}
/*.form-group.login-box{
  padding-left: 500px;
  padding-right: 500px;
}*/