<footer class="footer">
    <div class="container">
      <small class="copyright pull-left">Copyright &copy; 2014 Project name</small>
      <ul class="links list-inline">
        <li><a href="index.html#">Terms</a></li>
        <li><a href="index.html#">Privacy</a></li>
      </ul>
    </div>
  </footer>
