  <header id="top" class="header navbar-fixed-top">  
    <div class="container">            
      <h1 class="logo pull-left">
        <a class="scrollto" href="index.html#carousel1">
        <img id="logo-image" class="logo-image" src="/assets/logo.jpg" alt="Logo">
          <span class="logo-title">PROJECT NAME</span>
        </a>
      </h1><!--logo-->              
      <nav id="main-nav" class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <!-- For inline forms or navigations, we hide the labels using the .sr-only class. -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><!--nav-toggle-->
        </div><!--navbar-header-->            
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active nav-item sr-only"><a class="scrollto" href="index.html#carousel1">Home</a></li>
            <li class="nav-item"><a class="scrollto" href="index.html#profile">Profile</a></li>
            <li class="nav-item"><a class="scrollto" href="index.html#daily">Daily Expenses</a></li>
            <li class="nav-item last"><a class="scrollto" href="index.html#category">Expenses Per Category</a></li>
          </ul><!--nav-->
        </div><!--navabr-collapse-->
      </nav><!--main-nav-->           
    </div>
  </header>